
<div class="container">
{{>profileForm avatarPath=avatarPath fields=fields buttons=buttons name=name}}
  {{#> formModal}}
    <h1>Загрузите файл</h1>
      <input type="file" name="avatar" id="avatar" class="file-input">
   
    {{>button type="submit" variant='primary' text='Применить'}}
  {{/formModal}}
</div>
