<div class="container-error">
  <div class="error-info">
    <h1 class="status">{{status}}</h1>
    <p class="text">{{text}}</p>
  </div>
  
  {{>button text=buttonText variant='secondary'}}
</div>
