@use "../../style/variable.scss" as *;
@use "../../style/mixins.scss" as *;

.chat {
  display: flex;
  width: 100%;
  height: 100vh;
}

.chats {
  @include flexed-column;
  background-color: $bg-very-light-gray;
  width: 25%;
  border-right: 2px solid $bg-light-gray;
}

.link {
  display: block;
  text-align: right;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: $bg-gray;
  cursor: pointer;
  padding: 1.5rem 0.8rem 0rem 0.8rem;
}

.search-container {
  position: relative;

  border-bottom: 2px solid $bg-lighter-gray;
  padding: 1.5rem 0.8rem 0rem 0.8rem;
}

.card-wrapper {
  @include flexed-column;
  gap: 0;
}

.messages {
  background-color: $bg-light;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 1.5rem;
}

.messages-header {
  @include flexed-center;
  justify-content: space-between;
  border-bottom: 2px solid $bg-lighter-gray;
  padding: 1rem 0;
  flex-shrink: 0;
}

.messages-no-photo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: $bg-lighter-gray;
}

.messages-info {
  @include flexed-center;
  gap: 1rem;
}

.user-button {
  height: 1rem;
  width: 0.15rem;
  position: relative;
}
.messages-block {
  height: 100%;
}
.messages-list {
  flex: 1;
  padding: 1rem 0;
  overflow-y: auto;
}

.messages-footer {
  flex-shrink: 0;
  padding: 1rem 0;
  border-top: 2px solid $bg-lighter-gray;
}
.user-action--form {
  @include flexed-column;
}
.enter {
  background-color: $bg-lighter-gray;
  width: 100%;
  border-radius: 30px;
  padding: 0.5rem;
}
.enter-form {
  display: flex;
  gap: 0.5rem;
}
.entered-button {
  background-color: transparent;
}
.no-chat-selected {
  @include center-absolute;
  height: 100%;
  font-size: 0.8rem;
  color: $bg-gray;
}
