
<div class="chat">
  <div class="chats">
    <a class="link">Профиль</a>
    <form class="search-container">
        {{> input 
            search=true
            type="text" 
            id="search-input" 
            name="search" 
            placeholder="Найти"
        }}
    </form>
    <div class="card-wrapper">
        {{> cardList chats=chats}} 
    </div>
  </div>
  <div class="messages">
    <div class="messages-header">
        <div class="messages-info">
            <div class="messages-no-photo"></div>
            <p class="name">Вадим</p>
        </div>
        <div class="user-button-container" style="position: relative;">
            <button class="user-button" data-action="open-modal">
                <img src="/dots.svg">
            </button>
            {{> userModal isOpen=true}}
            {{> userFormModal }}
        </div>
    </div>
    <div class="messages-list">
      <div class="messages-block">    
       {{#if messages}}
          {{> messagesList messages=messages}}
        {{else}}
          <div class="no-chat-selected">
            <p>Выберите чат чтобы отправить сообщение</p>
          </div>
        {{/if}}
      </div>
    </div> 
    
    <div class="messages-footer">
        <form class="enter-form">
            <input class="enter" placeholder="Сообщение">
            <button class="entered-button">
                <img src="/arrow.svg">
            </button>
        </form>
    </div>
  </div>
</div>