<nav class="navigation">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/login" class="nav-link" page="login">Login</a>
    </li>
    <li class="nav-item">
      <a href="/signin" class="nav-link" page="signin">SignIn</a>
    </li>

  </ul>
</nav>