<nav class="navigation">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/login" class="nav-link" page="login">Login</a>
    </li>
    <li class="nav-item">
      <a href="/signin" class="nav-link" page="signin">SignIn</a>
    </li>
    <li class="nav-item">
      <a href="/notFound" class="nav-link" page="notFound">404</a>
    </li>
    <li class="nav-item">
      <a href="/error" class="nav-link" page="error">500</a>
    </li>
    <li class="nav-item">
      <a href="/profile" class="nav-link" page="profile">Profile</a>
    </li>
    <li class="nav-item">
      <a href="/editProfile" class="nav-link" page="editProfile">editProfile</a>
    </li>
    <li class="nav-item">
      <a
        href="/editPassword"
        class="nav-link"
        page="editPassword"
      >editPassword</a>
    </li>
    <li class="nav-item">
      <a href="/chat" class="nav-link" page="chat">Chat</a>
    </li>
  </ul>
</nav>