<button class="button {{#if variant}}button--{{variant}}{{/if}} {{#if disabled}}button--disabled{{/if}}" 
        {{#if type}}type="{{type}}"{{else}}type="button"{{/if}}
        {{#if disabled}}disabled{{/if}}>
    {{text}}
</button>
