@mixin center-absolute {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexed-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@mixin flexed-center {
  display: flex;
  align-items: center;
}
