// Основные цвета
$primary-color: #3369f3;
$error-color: #ff2f2f;
$danger-color: #ff0000;

// Фоновые цвета
$bg-dark: #1e1e1e;
$bg-light: #ffffff;
$bg-gray: #999999;
$bg-light-gray: #eaeaea;
$bg-lighter-gray: #efefef;
$bg-very-light-gray: #fbfbfb;
$bg-pale-gray: #f8f8f8;
$bg-extra-light-gray: #f5f5f5;

// Дополнительные цвета
$border-gray: #cdcdcd;
$icon-gray: #c4c4c4;
$hover-blue: #e4edfd;
$dark-gray: #8d8d8d;
$overlay-dark: #52525280;

// Базовые цвета
$black: #000000;
$white: #ffffff;
