<div class="container">
    {{>avatar avatarPath=avatarPath}}
    <form class="profileForm">
        {{#each fields}}
            {{>input 
                inline=this.inline 
                name=this.name 
                type=this.type 
                placeholder=this.placeholder 
                label=this.label
                value=this.value
                disabled=this.disabled
            }}
        {{/each}}
    </form>
    <div class="btns">
        {{#each buttons}}
            {{>button variant=this.variant text=this.text}}
        {{/each}}
    </div>
</div>