@use "../../style/variable.scss" as *;
@use "../../style/mixins.scss" as *;
.card {
  @include flexed-center;
  justify-content: space-between;
  height: 5rem;
  border-bottom: 2px solid $bg-lighter-gray;
  padding: 1.5rem 1rem 1.5rem 1rem;
  &--active {
    background-color: $hover-blue;
  }
}
.info {
  display: flex;
  gap: 1rem;
}
.left-info {
  @include flexed-column;
  gap: 0.2rem;
}
.info-name {
  font-weight: 600;
  font-size: 0.9rem;
}
.last-message {
  color: $bg-gray;
  font-size: 0.8rem;
}
.right-info {
  @include flexed-column;
  gap: 0.4rem;
}
.time {
  font-size: 0.75rem;
  color: $bg-gray;
}
.count {
  width: 1.5rem;
  height: 1.5rem;
  background-color: $primary-color;
  color: $bg-light;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  font-size: 0.85rem;
}
.no-photo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: $bg-lighter-gray;
}
