<div>
  <div class="image avatar-clickable" data-action="open-avatar-modal">
    <img src="{{avatarPath}}" alt="Avatar" />
    <div class="overlay-text">Добавить аватар</div>
  </div>
  <p class="avatar-name">{{name}}</p>
</div>