@use "../../style/variable.scss" as *;
@use "../../style/mixins.scss" as *;
.form {
  min-width: 25rem;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
}
h1 {
  text-align: center;
  font-size: 1.4rem;
}
.form-field {
  margin-bottom: 1rem;
}
.login-form {
  @include flexed-column;
  margin-top: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
}

.form-input {
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.form-actions {
  @include flexed-column;
  margin-top: 3rem;
}
